<h1 style="text-align: center; padding: 20px">Mon Panier</h1>
<div >
  <img id="pict-shop" src="https://images.unsplash.com/photo-1514888286974-6c03e2ca1dba?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1143&q=80" >
</div>

<div id="shop-right">
  <% a = 0%>

  <% @cartlist.each do |i|%>
  <img class="xs" src="https://picsum.photos/id/237/200/300"  alt="...">
  <% a = a + i.product.price %>

  <p> La photo: "<%= i.product.title%>"</p>

  <p> Au prix de: <%= i.product.price%> €</p>

  <a href="<%= product_path(i.id)%>" class="btn btn-outline-primary">Voir l'image</a>
  <%= link_to 'Supprimer du panier', cart_path(i), data: {turbo_method: :delete}, class:"btn btn-outline-danger" %>
   <p> ----------------- </p>
  <% end%>

  <p>Total: <%= a%>€</p>

  <%= button_to "Payer", checkout_create_path(total: a),data: { turbo: false }, class: "btn btn-outline-primary"%>
</div>